@import "../omarchy/current/theme/waybar.css";

window {
  background-color: rgba(26, 27, 38, 0.5);
  color: @foreground;
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  background-color: @background;
  color: @foreground;
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
}

#workspaces button.empty {
  opacity: 0.4;
}

#workspaces button.visible {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg,rgba(51, 204, 255, 1) 0%, rgba(0, 255, 153, 1) 100%);
  opacity: 1;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power-menu {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 2px;
}
