@import "../omarchy/current/theme/waybar.css";

 window {
  background-color: @background;
  color: @foreground;
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power-menu {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 2px;
  background-color: @background;
}

#workspaces button.empty {
  opacity: 0.4;
}

#workspaces button.visible {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #268bd2;
  opacity: 1;
}

#tray {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  margin: 4px;
  padding-left: 12px;
  margin-left: 6px;
}

#custom-priv1 {
  color: #b2a5ff;
  margin-left: 8px;
}

#custom-priv2 {
  color: #F7931A;
  margin-left: 8px;
  margin-right: 16px;
}
